.full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-gap: 10px;
}

h1 {
    grid-column: 1/-1;
    font-size: 34px;
    color: rgb(37, 0, 0)
}

.btn {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(13, 33, 100);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
}

span {
    position: absolute;
    font-size: 190px;
    left: 42%;
    top: 12%;
    color: rgb(20, 5, 5);
    font-weight: bold;
}

.res_btn {
    height: 50px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(13, 33, 100);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    left: 46%;
}

.btn:hover,
.res_btn:hover {
    background-color: rgb(253, 219, 219);
    color: rgb(0, 0, 0);
}